/******CSS for GoldJuce Individual Claims Pages******/
* {
	margin: 0;
	padding: 0;
}

html{
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #252954;
    cursor: none;
}

body{
    max-width: 1400px;
    height: 100%;
    background-color: #1F1D2B;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 5px rgb(243, 178, 0);
}

/**Some Styling For Anchor Tags & Paragraph Tags***/
p, a {
    height: 100%;
    margin: 0;
    text-decoration: none;
}

/****Main Grid Holds Majority Of Content****/
.container{
    display: grid;
    max-width: 1200px;
    max-height: 100%;
    grid-template-columns: repeat(1, minmax(50px, auto));
    grid-template-rows: 100px auto 100px auto 60px;
    grid-gap: 50px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
}

/***Top Grid Holding Nav & Logo******/
header{
    display: grid;
    width:100%;
    height:80px;
    grid-template-columns: repeat(1, minmax(30px, auto));
    grid-template-rows: 1fr;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
    align-items: center; 
    justify-items: center;
    grid-row: 1; 
}

/***Nav Is Home Button etc.. Directory Tabs In Header***/
.nav{
    display: grid;
    width: 100%;
    height: 70px;
    grid-template-columns: 80% 10% 10%;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    gap: 1px;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav a{
    margin: 0 auto;
}

/****labeled as box Tag on other pages possibly**/
.nav-item{
    height: 30px;
    width: 30px;
    border-radius: 10px;
	justify-content: center;
	align-content: center;
	box-shadow: 0 0 10px black;
    text-align: center;	
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /** box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);**/
}

/***Hover Over Nav Button Effects***/
.nav-item:hover{
    border-style: solid;
	background-color: hotpink;
	border-width:2px;
	border-color: #DCF506;
}

/***Header Title Saying GoldJuce***/
h1{
    float: left;
    position: absolute;
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    font-family: "Poppins";
    font-style: bold;
}

/***Large Titles Text For Sections****/
h2{
    float: left;
    font-weight: 700;
    font-size: 42px;
    font-family: "Poppins";
    font-style: bold;
    color: white;
    
}
#section-title{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    align-items: center;
    grid-row: 3;
}

/***Grid Holds Iframe Google Map & The Div Holding Text Next To It***/
#banner_1{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 1fr 325px;
    grid-template-rows: auto;
    gap: 120px;
    margin:0 auto;
    text-align: center;
    text-justify: center;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    grid-row: 2;
}

/**Adjusts Individual Boxes Inside Row1 Grid***/
.row{
    width:90%;
    height: 100%;
    margin:0 auto;
    box-sizing: 3px;
    border-style: solid;
	border-width:2px;
    border: 1px solid;
    border-radius: 35px; 
    box-shadow: 0 0 5px #9B51E0;
}
#banner_1 div{ 
    padding: 0;
}

/***Google Maps iFrame***/
iframe{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding:0;
    border-radius: 35px;
}

.claim_img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 35px 35px 0 0;
    grid-row: 1;
}

.mine-map{
    height: 90%;
}

/**Row1 Div Banner Text Next To Main Image****/
.img-description{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 60% auto 60px 50px;
    font-family: "Poppins";
    text-align: center;
    text-justify: center;
    margin: 0 auto;
    line-height: 26px;
    text-shadow: 1px 1px 1px #67737e;
}

/***Text For Top Card in Banner_1***/
.img-desc{
    max-width: 100%;
    max-height: 60px;
    font-size: 16px;
    color: #b3b1b1;
    margin: 0 auto;
    align-items: center;
    padding: 10px 5% 0 5%;
    grid-row: 3;
}

/***Adjust the Lat & Long Text For Plots Of Land *****/
#latitude{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    align-content: center;
    font-weight: bold;
    color: #1F1D2B;
    grid-row: 4;
}
#latitude a {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    text-justify: center;
    text-shadow: 1px 1px 1px rgb(243, 178, 0);
    background-color: #38344d;
    color:#3081ED;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    border: 3px solid #252954;
    box-shadow: 0 0 5px #9B51E0;
}

/***Grid Holding Smaller Individual Cards***/
.content_grid{
    display: grid;
    width: 100%;
	height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-auto-rows: 1fr;
    column-gap: 4%;
    row-gap: 50px;
    margin: 0px auto;
    justify-items: center;
    align-content: center;
	text-shadow: 1px 1px 2px #7dabd2;
    margin-top: 5%;
    grid-row: 4;   
}

/***Row 2, 2nd Half of Page**Starts Here***/
/****Images For The Nav Buttons If Want To Use Icons****/
.box0{
    background-image: url(../images/home-icon-grey.svg);
    box-shadow: none;
}

/***Box is Holding Images**For 4 smaller Cards Towards Bottom***/
.box{
	max-width: 300px;
    max-width: 90%;
    height: 150px;
    margin: 0 auto;
    margin: 0px auto;
    border: solid;
    border-color: #ddd;
    border-width: 3px;
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	padding: 5px;
    border-radius: 6px 6px 1px 1px;
}

.box0{
    margin: 0 auto;
    grid-column: 2;
}
.box0 a, .nav-item a{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    grid-column: 2;
}
.box0:active {
    width: 27px;
    height: 27px;
    background-color: rgb(1, 226, 1);
}

/***Wraps around Items & Box images in Content Grid**/
.item-wrap{
    display: grid;
    width: 100%;
    height: 230px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: repeat(auto, minmax(80px, 150px));
    margin: 0 auto;
    /*** background-color: darkolivegreen; ****/
    background-color: #ddd;
    box-shadow: 0 0 10px rgb(169, 169, 169);
    border-radius: 6px 6px 1px 1px;
}
 
/***Title For This Pages Claim Maps in item-wrap Grid****/
.item-title{
    width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 18px;
    grid-row: 1;
    grid-column: 1/5;
}

/***Menu Under Images With Name, Link, Download Button*****/
.item-menu{
    display: grid;
    width: 100%;
    height: 70px;
    font-size: 12px;
    color: black;
    grid-template-columns: repeat(3, minmax(30px, 80px));
    grid-template-rows: 30px 20px;
    grid-gap:3px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    text-justify: center;
    background-color:#cfcece;
    box-shadow: 0 0 10px rgb(143, 142, 142);
    border-radius: 1px 1px 6px 6px;  
}

/*****Button Styling STARTS*************/
.button a{
    text-align: center;
    text-justify: center;
    margin: 0 auto;
}

.button{
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    border-radius: 20px;
    text-align: center;
}
.item-menu a, .item-menu p{
 margin: 0 auto;
}

.item-menu a:active, .item-menu p:active {
    width: 70%;
    height: 96%;
}
 
.btn-html, .btn-css, .btn-JS{
    box-shadow: 1px 1px 2px #7dabd2;
    border-radius: 5px;
}

.btn-html, .btn-css, .btn-JS, .btn-taco{
    grid-row: 2;
    width: 40px;
    height: 20px;
   /** text-shadow: 1px 1px 2px #f200fa;**/
}

/***Style Buttons That Say HTML in item-menu Grid***/
.btn-html{
    background: teal;
}

/***Style Buttons That Say CSS in item-menu Grid***/
.btn-css{
    background: black;
}
.btn-JS{
    background: rgb(187, 8, 97);
}
.btn-taco{
    font-size: 18px;
    margin: 0 auto;
    align-self: center;
    padding: 0; 
    text-shadow: 1px 1px 2px #67737e;
}
.btn-taco a{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.button a{
    text-align: center;
    text-justify: center;
    margin: 0;
}
/***M%tamask Button START*******/
#connect-button{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius:3px;
    background-position: center;
	background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    grid-column: 3;
}

#metamask-logo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-content: center; 
    border-radius: 15px;
}
  /***Button For M&taMask***/
button{
    background: none;
    border: none;
}
/***M%tamask Button END*******/
/*****Button Styling END*************/


/**Footer Section At Bottom Of Page***/
.footer{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    text-justify: center; 
    border-radius: 2px;
    align-content: center;
    padding: 10px;
    border-top: 1px solid #F2F2F2;
    grid-row: 5;
}

.footer a{
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.footer2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, minmax(1fr, auto));
    margin:0 auto;

}
/**Footer with copyright Text**/
.footer2 p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: #828282;
    margin:0 auto;
    grid-column: 8;
  }
/****Box*Presses*In*Effect*When*Pressed**Start***/
.goldJuce-Btn{
    max-width: 120px;
    max-height: 30px;
    text-align: center;
    text-justify: center;
    font-family:'Courier New', Courier, monospace ;
    border-radius: 20px;
    font-size: 24px;
    margin: 0 auto;
    background: rgb(0, 0, 0);
    box-shadow: 1px 1px 2px #262e36;
    text-shadow: 1px 1px 2px #67737e; 
    color: rgb(243, 178, 0);
    border-style: solid;
    border-color: rgb(243, 178, 0);
    padding: 5px;   
}

.goldJuce-Btn a{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.goldJuce-Btn:active{
	height: 96%;
	width: 96%;
}


/*******Images For Item Cards START********/
/**640x360**Image Sizes****/
/***AboutPage Layouts Images Section START***/
.claim_02{background-image: url(../images/gold-mine-02.jpg);}
.claim_03{background-image: url(../images/gold-mine-03.jpg);}
.claim_04{background-image: url(../images/gold-mine-04.jpg);}
.claim_05{background-image: url(../images/gold-mine-05.jpg);}
.claim_06{background-image: url(../images/gold-mine-06.jpg);}
.claim_07{background-image: url(../images/gold-mine-07.jpg);}
.claim_08{background-image: url(../images/gold-mine-08.jpg);}
/***AboutPage Layouts Images Section END***/


/***Background Images For Website pages Section START***/
.bkgd_01{background-image: url(../images/page_bkgd_01_thum.png);}
/***Background Images For Website pages Section END***/

/*******Images For Item Cards END********/

/***Mouse Animation START****/
.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 20%;
    border: 1px solid grey;
    transition: transform .6s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
  }

.grow, .grow-small{
    transform: scale(10);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}
.grow-small{
    transform: scale(2.5);
}
/***Mouse Animation END****/

.container::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 60%;
    top: 138px;
    filter: blur(90px);
    background-color: #FB37FF;
  }
  .container::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 80%;
    top: 550px;
    background-color: #18B2DE;
    filter: blur(80px);
  }


@media screen and (max-width: 350px) {
h1{
    font-size: 18px;
}

}