/******CSS for GoldJuce Individual Claims Pages******/
* {
	margin: 0;
	padding: 0;
}

html{
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

body{
    max-width: 1200px;
    height: 100%;
    background-color: #1F1D2B;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 5px rgb(243, 178, 0);
}

/**Some Styling For Anchor Tags & Paragraph Tags***/
p, a {
    height: 100%;
    margin: 0;
    text-decoration: none;
}
      

/****Main Grid Holds Majority Of Content****/
.container{
    display: grid;
    max-width: 1200px;
    max-height: 100%;
    grid-template-columns: repeat(1, minmax(50px, auto));
    grid-template-rows: 100px auto auto 60px;
  /**background-color: rgb(29, 131, 215);**/
    grid-gap: 20px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
   /** box-shadow: 0 0 10px black; **/
}

/***Top Grid Holding Nav & Logo******/
header{
    display: grid;
    width:100%;
    height:80px;
    grid-template-columns: repeat(1, minmax(30px, auto));
    grid-template-rows: 1fr;
    /**background-color: aqua;**/
    margin: 0 auto;
    background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 5px black;
    align-items: center; 
    justify-items: center;
    grid-row: 1; 
}

/***Nav Is Home Button etc.. Directory Tabs In Header***/
.nav{
    display: grid;
    width: 100%;
    height: 70px;
    grid-template-columns: repeat(3, minmax(50px, auto));
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    /**grid-row:1;**/
    gap: 5%;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav a{
    font-size: 20px;
    color: #ddd;
    text-decoration: none;
    text-align: center;
    text-justify: center;
    margin: 0 auto;
    text-shadow: 1px 1px 2px #7dabd2;
}

.nav a:active, .nav p:active {
    width: 98%;
    height: 96%;
}

/****labeled as box Tag on other pages possibly**/
.nav-item{
    height: 30px;
    width: 30px;
    border-radius: 10px;
	justify-content: center;
	align-content: center;
	box-shadow: 0 0 10px black;
    text-align: center;	
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /** box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);**/
}

/****Images For The Nav Buttons If Want To Use Icons****/
.box0{background-image: url(/images/home-icon-grey.svg);}
/**.box1{background-image: url(/images/house-W-leafs.svg);}**/

/****Nav Button Individual Buttons******/
/**.box0, .box1{
    border-style: solid;
	border-width:2px;
	border-color: #f101cd;
}**/

/***Hover Over Nav Button Effects***/
.nav-item:hover{
    border-style: solid;
	background-color: hotpink;
	border-width:2px;
	border-color: #DCF506;
}

/***Header Title Saying GoldJuce***/
h1{
    float: left;
    font-size: 32px;
   /** text-shadow: 1px 1px 2px #7dabd2;**/
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-align: center;
   /** grid-row: 2;**/
    font-weight: 700;
    font-size: 42px;
    font-family: "Poppins";
    font-style: bold;
}

/***Grid Holds Iframe Google Map & The Div Holding Text Next To It***/
#row1{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 1fr 325px;
    grid-template-rows: auto;
    margin:0 auto;
    text-align: center;
    text-justify: center;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    grid-row: 2;
}

/**Adjusts Individual Boxes Inside Row1 Grid***/
.row{
    width:96%;
    height: 100%;
    margin:0 auto;
    box-sizing: 3px;
    border-style: solid;
	border-width:1px;
	border-color: rgb(243, 178, 0);
    border-radius: 3px;
}
#row1 div{ 
    padding: 0;
}

/***Google Maps iFrame***/
iframe{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding:0;
}

.claim_img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-row: 1;
}

/**Row1 Div Banner Text Next To Main Image****/
.img-description{
    display: grid;
    max-width: 100%;
    grid-template-rows: 60% 20% 20%;
    font-family: Poppins;
    text-align: center;
    text-justify: center;
    margin: 0 auto;
    line-height: 26px;
    text-shadow: 1px 1px 1px #67737e;
}

/****Row1 Banner Description Text**********/
.img-description p{
    height: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 10px 5% 0 5%;
    font-size: 18px;
    color: #ddd;
    grid-row: 2;
}

#latitude{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-content: center;
    font-weight: bold;
    color: #1F1D2B;

    grid-row: 3;
}
#latitude a {
 
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    text-justify: center;
    text-shadow: 1px 1px 1px #fc03e7;
}

/****Grid Holding All Section Cards*********/
.content_grid{
    display: grid;
    width: 100%;
	height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-auto-rows: 1fr;
    column-gap: 4%;
    row-gap: 50px;
    margin: 0px auto;
    justify-items: center;
    align-content: center;
	text-shadow: 1px 1px 2px #7dabd2;
    grid-row: 3;   
}

/***Row 2, 2nd Half of Page**Starts Here***/
/***Box is Holding Images**For 4 smaller Cards Towards Bottom***/
.box{
	max-width: 300px;
    max-width:90%;
    height: 150px;
    margin: 0 auto;
    margin: 0px auto;
    border: solid;
    border-color: #ddd;
    border-width: 3px;
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	padding: 5px;
    border-radius: 6px 6px 1px 1px;
}

.box0{
    grid-row: 3;
}

/***Wraps around Items & Box images in Content Grid**/
.item-wrap{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: repeat(auto, minmax(80px, 150px));
    margin: 0 auto;
    /*** background-color: darkolivegreen; ****/
    background-color: #ddd;
    box-shadow: 0 0 10px rgb(169, 169, 169);
    border-radius: 6px 6px 1px 1px;
}
 
/***Title For This Pages Claim Maps in item-wrap Grid****/
.item-title{
    width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 18px;
    grid-row: 1;
    grid-column: 1/5;
}

/***Menu Under Images With Name, Link, Download Button*****/
.item-menu{
    display: grid;
    width: 100%;
    height: 70px;
    font-size: 12px;
    color: black;
    grid-template-columns: repeat(3, minmax(30px, 80px));
    grid-template-rows: 30px 20px;
    grid-gap:3px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    text-justify: center;
    background-color:#cfcece;
    box-shadow: 0 0 10px rgb(143, 142, 142);
    border-radius: 1px 1px 6px 6px;  
}

/*****Button Styling STARTS*************/
.button a{
    text-align: center;
    text-justify: center;
    margin: 0 auto;
}

.button{
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    border-radius: 20px;
    text-align: center;
}
.item-menu a, .item-menu p{
 margin: 0 auto;
}

.item-menu a:active, .item-menu p:active {
    width: 70%;
    height: 96%;
}
 
.btn-html, .btn-css, .btn-JS{
    box-shadow: 1px 1px 2px #7dabd2;
    border-radius: 5px;
}

.btn-html, .btn-css, .btn-JS, .btn-taco{
    grid-row: 2;
    width: 40px;
    height: 20px;
   /** text-shadow: 1px 1px 2px #f200fa;**/
}

/***Style Buttons That Say HTML in item-menu Grid***/
.btn-html{
    background: teal;
}

/***Style Buttons That Say CSS in item-menu Grid***/
.btn-css{
    background: black;
}
.btn-JS{
    background: rgb(187, 8, 97);
}
.btn-taco{
    font-size: 18px;
    margin: 0 auto;
    align-self: center;
    padding: 0; 
    text-shadow: 1px 1px 2px #67737e;
}
.btn-taco a{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.button a{
    text-align: center;
    text-justify: center;
    margin: 0;
}
/***M%tamask Button START*******/
#connect-button{
    width: 30px;
    height: 30px;
    /**background:url('/images/metamask_logo_02.png') no-repeat;**/
    margin: 0 auto;
    border-radius:3px;
    background-position: center;
	background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#metamask-logo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-content: center; 
    border-radius: 15px;
}
  /***Button For M&taMask***/
button{
    background: none;
    border: none;
}
/***M%tamask Button END*******/
/*****Button Styling END*************/


/**Footer Section At Bottom Of Page***/
.footer{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    text-justify: center; 
    border-radius: 2px;
    background: rgb(0, 0, 0);
    grid-row: 4;
    align-content: center;
    padding: 10px;
}

.footer a{
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}
/****Box*Presses*In*Effect*When*Pressed**Start***/
.goldJuce-Btn{
    max-width: 120px;
    max-height: 30px;
    margin: 0 auto;
    text-align: center;
    text-justify: center;
    font-family:'Courier New', Courier, monospace ;
    border-radius: 20px;
    font-size: 24px;
    background: rgb(0, 0, 0);
    box-shadow: 1px 1px 2px #262e36;
    text-shadow: 1px 1px 2px #67737e; 
    color: rgb(243, 178, 0);
    border-style: solid;
    border-color: rgb(243, 178, 0);
    padding:5px;   
}

.goldJuce-Btn a{
    margin: 0 auto;
    justify-content: center;
}

.goldJuce-Btn:active{
	height: 96%;
	width: 96%;
}


/*******Images For Item Cards START********/
/**640x360**Image Sizes****/
/***AboutPage Layouts Images Section START***/
.about1{background-image: url(../images/about_01_thum.png);}
.about2{background-image: url(../images/about_02_thum.png);}
.about3{background-image: url(../images/about_03_thum.png);}
.about4{background-image: url(../images/about_04_thum.png);}
.about5{background-image: url(../images/about_05_thum.png);}
.about6{background-image: url(../images/about_06_thum.png);}
.about7{background-image: url(../images/about_07_thum.png);}
/***AboutPage Layouts Images Section END***/


/***Background Images For Website pages Section START***/
.bkgd_01{background-image: url(../images/page_bkgd_01_thum.png);}
/***Background Images For Website pages Section END***/

/*******Images For Item Cards END********/

@media screen and (max-width: 350px) {
h1{
    font-size: 18px;
}

}